@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: Helvetica, Arial, sans-serif;
    padding: none;
    margin: auto;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    justify-content: end;
    justify-items: end;
}

main {
    display: grid;
    grid-template-columns: auto 350px;
}

.book {
    display: grid;
    grid-template-columns: 300px auto;
    margin-top: 30px;
}

h1 {
    font-family: Lora, Impact, serif;
    text-align: center;
    padding: 15px 0;
    font-size: 2rem;
}

nav {
    border-bottom: 2px solid #EFC69B;
    border-top: 2px solid #EFC69B;
    /* max-width: 100%;
    margin: 0 auto; */
    padding-right: 150px;
    line-height: 2rem;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #AF1B3F;
    font-size: 1.1em;
}

.book-infor {
    text-align: right;
    border-right: 1px solid #EFC69B;
    padding-right: 10px;
}

.book-content {
    padding-left: 15px;
}

h2 {
    color: #AF1B3F;
}

.book-img {
    margin-left: 50px;
}

.book-detail {
    font-size: 1.1em;
}






.read-more {
    text-decoration: none;
    color: red;
}



.filter-container {
    border: 1px solid #EFC69B;
    margin-top: 30px;
    margin-right: 60px;
}